test_data/opcua/test_main/single_class_with_a_primitive_property/expected_output/nodeset.xml

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="https://dummy.com" elementFormDefault="qualified" targetNamespace="https://dummy.com">
  <xs:group name="something">
    <xs:sequence>
      <xs:element name="text" type="xs:string"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="something_t">
    <xs:sequence>
      <xs:group ref="something"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="environment" type="environment_t"/>
</xs:schema>
